.opa {
  
    opacity: 0.7;
  }
  .jumbotron
{
  min-height: 10px;
  min-width: 5px;
}

.carousel-inner img {
    /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.slide-wrapper {
  position: relative
}


