<app-header></app-header>


<style>


/* #loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}
#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}
#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
  background-image: url("../assets/5.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}
@keyframes load {
100% {
  opacity: 0;
  transform: scale(1);
}
}
@keyframes load {
100% {
  opacity: 0;
  transform: scale(1);
}
}
 */












    .opa {
  
      opacity: 0.7;
    }
    .jumbotron
{
    min-height: 10px;
    min-width: 5px;
}

  .carousel-inner img {
      /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .slide-wrapper {
    position: relative
}

  
  

  </style>



  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/1.jpg" alt="Los Angeles">
    </div> -->

    <!-- <div class="item">
      <img src="../assets/2.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="../assets/3.jpg" alt="New York">
    </div>
  </div> -->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



  <div class="opa py-5 text-white text-center m-5 cards"  style = "background-color:black;">
    
    <div class="container">
       
      <div class="row">
          
        
        <div class="col-md-12"  >
               

    
          <h1 class="animated bounce infinite" style="font-size: 80px">King Flyer</h1>
          <p class="lead mb-4">Fly Like a King</p>
          
          <form class="form-inline justify-content-center">
            <div class="input-group my-1">
               
              <select *ngFor = "let i of list">
                <option>{{i}}</option>
              </select>
              <datalist id = "d1" > 
                      <option *ngFor="let item of flightList" (click)="model=item">{{item.source}}</option>
              </datalist>
              <input type = "text" list = "d1" name="source"  class="form-control mr-3 my-1 form-control-lg" placeholder="From" [(ngModel)] ="model.source"/>

                
                 <datalist id="d2">
                    <option *ngFor="let item of flightList" (click)="model=item">{{item.destination}}</option>
                 </datalist>
             
              <input type="text" list="d2"  name="destination" class="form-control mr-3 my-1 form-control-lg" placeholder="To" [(ngModel)] ="model.destination"> 
              <input type="date" class="form-control mr-3 my-1 form-control-lg" placeholder="Date" name = "d" value = "{{d | date:'dd/MM/yyyy'}}" [(ngModel)]="model.date"/>
            </div> 
              <a class="btn ml-3 text-white btn-secondary bg-gradient btn-lg" [routerLink]="['/search', model.source, model.destination,model.date]">Search </a> 
          </form>
        </div>
      </div>
    </div>
  </div>
 


<!-- 
  <div class="row justify-content-center">
      <div class="jumbotron">
        <h1>King Flyer [ King Of Flights ]</h1>      
        <h4>Grab Your Tickets Now !!! Avail King Offers</h4>
      </div>
           
    </div> -->
   
  
    <!-- <div class="container">
        <div class="row">
          <div id="loader">
              <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="lading"></div>
          </div>
        </div>
      </div> -->