
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  </head>
<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white p-5 bg-primary w-100 h-100">
            <div class="card-body">
              <h1 class="mb-4 text-dark">Login form</h1>
              <form>
                <div class="form-group">
                  
                  <label>Email address</label>
                  <input type="email" name="email" [(ngModel)]="model.email" class="form-control" placeholder="Enter email"> </div>
                <div class="form-group">
                    

                  <label>Password</label>
                  <input type="password" name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password"> </div>
                  <div style = "background-color: red"><p id = "p" style = "display: none">Wrong password</p></div>
                <button type="submit" class="btn btn-secondary  btn-space" (click)="login()">Login</button>
                <br>
                <br>
                <a class="form-group" style = "color: white" [routerLink]="['/signup']"><u>New User ?</u></a>
                <a class="form-group" style = "color: white" [routerLink]="['/reset-password']"><u>Forgot Password</u></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</body>

</html>