


<head>
  <link rel="stylesheet" href="/project/src/app/signup.component.css" type="text/css">
  <style>
  .btn-space {
    margin-right: 10px;
}
  
  </style>
</head>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <h1 class="mb-4">User Login </h1>
              <form action="userdashboard.component.html">
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" name="email" [(ngModel)]="model.email" class="form-control" placeholder="Enter email"> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password"> </div>
                <button type="submit" class="btn btn-secondary  btn-space" (click)="login()">Login</button>
                <a class="btn btn-secondary" [routerLink]="['/signup']" >Create Account </a>
                <!-- <a [routerLink]="['/']">Forget password</a> -->

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>