<div class="row">
  <div class="col-md-4 col-md-offset-3 mb-2">
    <form>
      <div class="input-group">
        <div class="input-group-text ">Search:</div>
        <input type="search" name="search"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">
            <span class ="fa fa-search"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2 m-2">
    <a class="btn btn-outline-dark" routerLink="/create/new">Add new</a>
  </div>
  
</div>


<div class="row">
<div class="col-12 ml-2">

<table class="table table-dark table-striped">
    <thead><tr><th>From</th><th>To</th><th>Day</th><th>Departure</th><th>Arrival</th><th></th></tr></thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td>{{item.source}}</td>
        <td>{{item.destination}}</td>
        <td>{{item.availDays}}</td>
        <td>{{item.departure}}</td>
        <td>{{item.arrival}}</td>
        
        <td>
          <button  class="btn btn-secondary mr-2" routerLink="/create/new">Add new</button>
          <a class="btn btn-primary mr-2" href="editflight/{{item.flightNo}}">Edit </a> 
          <button class="btn  btn-warning mr-2" (click)="remove(item.flightNo)">Delete </button> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
