



<div class="card text-white p-3  w-60 h-20">
    <div style="color: black"><h1>Passenger Details</h1></div>
    <div class="card-body">
    <form>
      <div class="form-group row">
        <label style="color:black"     class="col-form-label"><h5>Passenger Name :</h5></label>
        <input type="text" placeholder="Enter Passenger Name" name="name" id="name" class="form-control" [(ngModel)]="model.name"/>
      </div>
      <div class="form-group row">
        <label  style="color:black"class="col-form-label"><h5>Age :</h5></label>
        <input type="text" name="age" id="age"
          class="form-control" [(ngModel)]="model.age"/>
      </div> 
      <div class="form-group ">
      <label  style="color:black"><h5>Gender :</h5></label>
     
                        
          <br>  <label style="color:black"><input type="radio" name="gender" [(ngModel)]="model.gender" value="Male"><b>Male</b></label>
                        
                                 
         <br>  <label style="color:black"><input type="radio" name="gender" [(ngModel)]="model.gender" value = "Female"><b>Female</b></label>
                
      </div>
      <div class="text-center">
      <button  style="color:black" type="button" class="btn btn-warning mr-2 " (click)="saveData()">
        Save
      </button>
    </div>
    </form>
  </div>  
