.
.
<div class="column">

<div style="padding: 35px">
   <div class="card text-white  bg-primary w-60 h-20">
          <h1 style="color: white; text-align: center">Flight Details</h1>      <div class = "container">
         <div class = "row">
           <div class = "col-md-12">
           <div>
           <table style="text-align: center;border-spacing: 10px;">
           <tr style="padding: 1px"><td><p style="color: black"><b> FlightName :</b></p></td>
            <td><p style="color:black"><b>Source :</b> </p></td>
            <td><p style="color:black"><b>Destination :</b></p></td>
            <td><p style="color:black"><b>Date :</b></p></td></tr>
            <tr>
            
            <td> <input  [(ngModel)]="flightModel.flightName" readonly/></td>
          
           
           <td><input  [(ngModel)]="flightModel.source" readonly/></td>   
           
             <td> <input  [(ngModel)]="flightModel.destination" readonly/></td>
             <td> <input type = "date" [(ngModel)]="bookingModel.day" id = "date" value = "{{date}}"/></td></tr>
           
         </table>
       </div>
         </div>
       </div>
       </div>
     </div>
     </div>
    

    <!-- <div class="col-3">
       <div class="card">
           <div class="card-header card-title">Flight Details</div>
           <div class="card-body">
           <form>
             <div class="form-group row">
               <label class="col-form-label">Flight Name :</label>
               <input  [(ngModel)]="flightModel.flightName" readonly/>
             </div>
             <div class="form-group row">
               <label class="col-form-label">Age :</label>
               <input type="text" name="age" id="age"
                 class="form-control" [(ngModel)]="model.age"/>
             </div>
             Gender
                           <div class="form-group row">
                             <label><input type="radio" name="gender" [(ngModel)]="model.gender" value="Male">Male</label>
                           </div>
                           <div class="form-group row">
                             <label><input type="radio" name="gender" [(ngModel)]="model.gender" value = "Female">Female</label>
                           </div>
             
             <button type="button" class="btn btn-outline-primary mr-2" (click)="saveData()">
               Save
             </button>
         </form>
         </div>  
       
           </div>
           </div> -->

    <div class="col-3">
      
      
               <app-booking-ticket-child [model]="selectedModel"
         (createEvent)="create($event)"></app-booking-ticket-child>
         <div class="text-center ">
         <button type = "button" class = "btn btn-warning m-1 " (click)="addNew()"><b>Add New</b></button>
         </div>
     </div>


     <div class="col-4" style="padding-right: 20px">
         
         <h1>Booking Preview</h1>
           <table class="table bg-primary table-striped">
               <thead><tr><th><p style="color:black">Passenger Name</p></th><th><p style="color:black">Age</p></th><th><p style="color:black">Gender</p></th></tr></thead>
               <tbody>
                 <tr *ngFor="let item of passengers">
                   <td>{{item.name}}</td>
                   <td>{{item.age}}</td>
                   <td>{{item.gender}}</td>
                 </tr>
                 <button class="btn btn-sm btn-warning mr-2" (click)="delete()">delete Last</button> 
               </tbody>
             </table>

             <div class="text-center" >
                 <button class = "btn btn-primary col-md-2" (click) = "submit()">Submit</button>
               </div>
           </div> 
         
         </div>



  




<!-- <button type = "button" class = "btn btn-primary m-1" (click)="addNew()">Add New</button>

<div class="container-fluid text-center">    
   
     <div class="col-sm-3 ">
         <table>
             <tr> <td> FlightName : </td><td><input  [(ngModel)]="flightModel.flightName" readonly/></td> </tr>
             
             
             <tr><td>Source : </td><td><input  [(ngModel)]="flightModel.source" readonly/></td></tr>    
             
               <tr><td>Destination :</td><td> <input  [(ngModel)]="flightModel.destination" readonly/></td></tr>
               <tr><td>Date :</td><td> <input  type = "date" [(ngModel)]="bookingModel.day" value = "{{date}}"/></td></tr>
             
           </table>
         </div>
     
     <div class="col-sm-5 text-left"> 
         <div>
             <app-booking-ticket-child [model]="selectedModel"
               (createEvent)="create($event)"></app-booking-ticket-child>
           </div>
     </div>
     <div class="col-md-4 " style="height:80%">
         <table class="table table-dark table-striped">
             <thead><tr><th>Passenger Name</th><th>Age</th><th>Gender</th><th></th></tr></thead>
             <tbody>
               <tr *ngFor="let item of passengers">
                 <td>{{item.name}}</td>
                 <td>{{item.age}}</td>
                 <td>{{item.gender}}</td>
               </tr>
               <button class="btn btn-sm btn-warning mr-2" (click)="delete()">delete Last</button> 
             </tbody>
           </table>
           <div>
               <button class = "btn btn-primary" (click) = "submit()">Submit</button>
             </div>
         
       </div>
     </div>
   
 
 








-->
